<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=DESKTOP-4KF2VDH;Initial Catalog=ServiceApi;Persist Security Info=False;User ID=DataExample2;Password=DataExample2;" />
    <add key="ConnectionTimeout" value="30" />

    <add key="GetGoogleApiFromUrl" value="https://maps.googleapis.com/maps/api/geocode/json?latlng={0},{1}&amp;key=AIzaSyB6EN-wa2ItX21H69N4Av7L73kp0I1OWYQ" />

    <add key="SelectCoordinateFromDatabase" value="SelectCoordinate" />
    <add key="InsertCoordinateFromDatabase" value="InsertCoordinate" />

    <add key="ThreadCount" value="3" />
    <add key="ThreadSleepFreq" value="10000" />

    <add key="TraceEnable" value="1" />
    <add key="TracePath" value="C:\Users\oguzc\Desktop\ServiceExample\Trace\yyyy\MM\dd\yyyyMMdd_{ThreadName}.txt" />

    <add key="LogPath" value="C:\Users\oguzc\Desktop\ServiceExample\Log\yyyy\MM\dd\yyyyMMdd_{ThreadName}.log" />
    <add key="LogEnable" value="1" />
  </appSettings>
</configuration>